@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color: white;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #60a5fa #f3f4f6;
}
.custom-scroll::-webkit-scrollbar {
  width: 8px;
  background: #f3f4f6;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #60a5fa;
  border-radius: 4px;
}
.custom-scroll {
  scroll-behavior: smooth;
}
.green{
  background-color: green;
  color: white;
}

.yellow{
  background-color: yellow;
  color: black;
}
